# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\5_Term\Комп'ютерні інформаційні технології\numberRecognition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
